{% extends "admin.html" %}
{% block admin %}
<div class="panel">
<div class="table_lebel"> 
    All Registered Customers</div>
<!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
<br>
    <table style="margin-bottom: 0;">
    <thead>
        <tr>
            <th>S no.</th>
            <th>Customer Id</th>
            <th>Name | Username</th>
            <th>Location</th>
            <th>Date Of Joining </th>
            <th>Status</th>
            <th>Visit</th>
        </tr>
    </thead>
    <tbody>
    <!-- {#% set s1_history =s1 | reject(attribute='7',value='Closed')%
     #} -->
    {% for req in custs %}
        <tr>
            <td> {{loop.index}}</td>
            <td>{{req.cust_id}}</td>
            <td>{{req.cust_name}} | {{req.cust_username}}</td> 
            <td> {{req.cust_pincode}} || {{req.cust_address}}</td> 
            <td> {{req.cust_date}}</td> 
            <td> 
                {% if req.cust_status == 'reject' or req.cust_status == 'ban' %}
                    <div style="color: red;">{{req.cust_status}}</div>
                    {% elif req.cust_status == 'archive' %}
                        <div style="color: rgb(134, 133, 133);">Archived</div>
                    {% elif req.cust_status == 'allow' %}
                        <div style="color: green;">Allowed</div>
                {% endif %}
            </td> 
            <td style="min-width: 100px;">
                <form   action="cust/{{req.cust_id}}" method="Get">
                    <button  type="submit">Visit</button> </form>
                
            </td>
        
        </tr>

    {% endfor %}
    </tbody>
</table>

<!-- paginator starts here mj -->
<div class="paginator">
               
    <div style="justify-content: flex-start; align-items: center;">
       Showing Page {{custs.page}} out of {{custs.pages}}
    </div>
    <div style="justify-content: flex-start;" >
        
    <!-- <div style="display: flex; justify-content: flex-start;"> -->
    <div style="justify-content: flex-start;">

        {% if custs.has_prev %}
            <a  id="active_pgntr" href="{{ url_for('admin_cust', page=custs.prev_num) }}" >Previous</a>
        
        {% else %}
            <a>Previous</a>
        
        {% endif %}
        
    </div>

    <div style=" justify-content: center;">
    <form style="display:flex;" action="{{ url_for('admin_cust')}}">
        <input style="width:40px;" id="page_a"name='page' value="{{custs.page}}">
        <button type="submit"> Go </button>
    </form>
    </div>
    
    <div style="justify-content: flex-end;">
    {% if custs.has_next %}

        
        <a id="active_pgntr" href="{{ url_for('admin_cust', page=custs.next_num) }}">Next</a>
    {% else %}    
        <a >Next</a>
        
    {% endif %}
    </div>
    </div>
</div>
<!-- paginator ends here mj   -->
</div>
{% endblock %}