{% extends "common.html" %}
{% block body %}
<div class="panel">

<h1> </h1>
Hy {{session.username}} :)<br>
{% if session.type1 == 'admin' %}
<div class="admin_bar" >
    <div  style="padding-left: 5%; font-size: 200%; color: #4a205a; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);">
        Admin Dashboard</div>
    <div style="display: flex; margin-right: 10%;">
        <button onclick="location.href='/admin_service';">Services </button>
        <button  onclick="location.href='/pro';">Proffessionals</button>
        <button onclick="location.href='/cust';">Customers</button>
    </div>
</div>
</div>
{% endif %}
{% block admin %}{% endblock %} 
{% endblock %}
