{% extends "common.html" %}
{% block body %}
<div class="panel">
<div >

    {% if flag %}
        <h1> Booking Success</h1>
        <h2> Go To <a href="\dashboard"> Dashboard </a></h2>
    {% else %}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li>{{ message | safe }}</li>
                    {% endfor %}
                </ul>
            {% else %}
                    <h1>{{s1.pro_name}}</h1>
                    <form method="POST">
                        <button name="pro_id" value="{{s1.pro_id}}" type="submit">Book Now </button>
                    </form>
            {% endif %}
        {% endwith %}
    {% endif %}


<!-- for rating -->

</div>

<h2 class="table_lebel"> Recents Services</h2>
        <div class="container">
            {% for i in s2 %}
                {% if i.req_rating %}
                    <!-- <a style="font-size: 120%; padding-bottom: 0;">{{ i.0}}</a>|<a style="font-size: 60%;">{{i.1}}</a><br>
                    {% for j in range(0,i.req_rating |int) %} ⭐ {% endfor %}<br>
                    {{i.3}}
                    <br> -->
                    <div class="container">
                        <div  onclick="window.location.href='#'" class="service-box">
                            <div class="service-title"><b style="color: rgb(201, 45, 34);">{{i.0}}</b></div>
                            <div class="service-desc"><b style="color: rgb(45, 119, 115);">{{i.1}}</b></div>
                            <div class="service-desc">  {% for j in range(0,i.req_rating |int) %} ⭐ {% endfor %}</div>
                            <div class="service-desc"><a style="color: rgb(0, 0, 0);">{{i.3}}</div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}   
        </div>
{% endblock %}
