<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} </title>
    
     <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='style1.css')}}" > -->
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}" >
    <!-- <link rel="stylesheet" href="{{url_for('static',filename='search.css')}}" > -->
</head>
<body1>
    {% block xxx %}{% endblock %}
    <div class="nav-bar">
        <div class="easyhome">
            EasyHome 
        </div>
        <div style="display: flex; margin-right: 10%;">
  <!-- search start  -->
            <button>
                <label for="search1">
                    search
                </label>
            </button>
             <!-- working a -->
            <!-- <div id="searchPanel">
                <a href="#" class="search_close">&times;</a>
                <form action=/search> 
                    <div  class="search_type1">                       
                        <input type="radio" name="type" value="pro" id="pro" required>
                            <label for="pro"> pro</label>
                        <input type="radio" name="type" id="cust" value="cust" required>
                            <label for="cust">cust</label>
                        <input type="radio" name="type" id="req" value="req" required>
                            <label for="req"> service Reqests</label>
                    </div>
                    <div class="searchbar flex_button" >
                        <input id="searchbox" name="word" value="{{request.args.get('word', '')}}"  required type="text" placeholder="search">                  
                        |<button id='search_button' type="submit">🔎</button>
                    </div> 
                </form> -->
        
            {% block search %}{% endblock %} 

<!-- search end -->
            <button onclick="location.href='/';">
                Home </button>
                <button onclick="location.href='/services';">
                    Services </button>
            {% if session.username %}
             
            <a  onclick="location.href='/dashboard';">
                <!-- {{session.username}}   --><img class='nav-icon' src="{{url_for('static' , filename='icons/profile.png') }}" alt="User"/>
                 <p>profile</p>
            </a>
            <a  onclick="location.href='/logout';">
                <img class='nav-icon' src="{{url_for('static' , filename='icons/logout.png') }}" alt="logout"/>
                <p>logout</p>

            </a>
            {% else %}
            <button  onclick="location.href='/login';">
                Login </button>
            {% endif %}
        </div>
    </div>

    
<form action=/search> 

<input type="checkbox" id="search1" class="togle1" >
    <div id="searchPanel">
         <label class="search_close" for="search1">
            &times;
        </label>
 
     <!-- </div>
     <div id="searchPanel"> -->
        <!-- <a href="#" class="search_close">&times;</a> -->
        
        <div  class="search_type1">                       
            <input type="radio" name="type" value="pro" id="pro" onclick="setInputType('text')" required>
                <label for="pro"> pro</label>
            <input type="radio" name="type" id="cust" onclick="setInputType('text')" value="cust" required>
                <label for="cust">cust</label>
            <input type="radio" name="type" id="req" onclick="setInputType('number')" value="req" required>
                <label  for="req"> service Reqest id</label>
        </div>
        <div class="searchbar flex_button" >
            <input id="searchbox" name="word" value="{{request.args.get('word', '')}}"  required  placeholder="search">                  
            |<button id='search_button' type="submit">🔎</button>
        </div> 
    </form>
</div>
    <script>
        function setInputType(type) {
            document.getElementById('searchbox').type = type;
        }
    </script>
    
{% block body %}{% endblock %} 
<div class="footer1">
    <div >
        <p>© 2024 EasyHome. All Rights Reserved.</p>
    
    </div>
</div>


</script>
</body1>
</html>

