{% extends "common.html" %}
{% block body %}
{% set sno1 = 2 %}

{% if type1 =='cust' %}

    <div style=" margin-left: 10%; ">
        <div style="font-size: 250%; color: rgb(155, 9, 9); font-weight: bold;"> Hy {{user.cust_name}}</div>
        <div style="font-size: 150%; color: rgb(15, 15, 19);"> Welcome To EasyHome Dashboard</div>
    </div>

    <div  style="display:  flex; justify-content: flex-end; height: 5%; margin-top: 3%;" >
        <button style="padding: 7px 20px; font-size: 18px; border-radius: 8px; margin-right: 10%; cursor: pointer;" onclick="location.href='/services';"> 
            Request New Service </button></div>
    <div style="display: inline-block; padding-right: 3%; font-size: 200%; font-weight: bold; margin-left: 10%; border-radius: 8px; margin-right: 10%; padding-top: 0.5%; padding-bottom: 0.5%; background-color: #fcfeff;"> 
        Pending Service</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table style=" margin-left: 10%; border-radius: 8px; background-color: #fcfeff;">
        <thead>
            <tr>
                <th>S no.</th>
                <th>professional</th>
                <th>Service</th>
                <th>Reqested on </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>
            {% for req in s1 %}
                {% if req.5 != 'Closed' and req.5 != 'Rejected' %}
                    <tr>
                        <td> {{loop.index}}</td> 
                        <td> {{req.1}}/{{req.2}}</td> 
                        <td> {{req.3}}</td> 
                        <td> {{req.4}}</td> 
                        <td> 
                            <!-- {{req.5}} -->
                            {% if req.5 == 'Accepted' %}
                                <div style="color: green;">{{req.5}}</div>
                            {% elif req.5 == 'Rejected' %}
                                <div style="color: red;">{{req.5}}</div>
                            {% elif req.5 == 'service requested' %}
                                <div >{{req.5}}</div>
                            {% endif %}</td> 
                        <td>
                            {% if req.5 == 'Accepted' %}
                                <form action="/dashboard" method="POST">
                                    <button name="close" value="{{req.6}}" type="submit">Close it</button></form>
                            {% elif req.5 == 'service requested' %}
                                Wait for request accept
                            {% else %} Closed
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table></div>
    <div style="display: inline-block; margin-top: 10px; padding-right: 3%; font-size: 200%; font-weight: bold; margin-left: 10%; border-radius: 8px; margin-right: 10%; padding-top: 0.5%; padding-bottom: 0.5%; background-color: #fcfeff;"> 
        Service History</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table style=" margin-left: 10%; border-radius: 8px; background-color: #fcfeff;">
        <thead>
            <tr>
                <th>S no.</th>
                <th>Proffesional</th>
                <th>Service</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Rating | Remarks</th>
            </tr>
        </thead>
        <tbody>
        {% for req in s1 %}
        {% if req.5 == 'Rejected' or req.5 =='Closed' %} 
            <tr>
                <td>{{loop.index}} </td>
                
                <td> {{req.1}} / {{req.2}}</td> 
                <td> {{req.3}}</td> 
                <td> {{req.9}}</td>
                <td> 
                    {% if req.5 == 'Closed' %}
                        <div style="color: green;">{{req.5}}</div>
                    {% elif req.5 == 'Rejected' %}
                        <div style="color: red;">{{req.5}}</div>
                    {% endif %}</td> 
                    <td> 
                        {% if req.7 %} {{req.7}} |{% endif %}
                        {% if req.8 %}{{req.8}}{% endif %}                   
                    </td> 
                        <!-- cust3,0
                        pro1,1
                        upro1,2
                        furniture ,3
                        2024-10-09,4
                        Closed,5
                        13,6
                        1.0,7
                        best service,8
                        Closed,5                     -->       
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% elif type1 =='pro' %}
    <div style=" margin-left: 10%; margin-bottom: 2%; ">

        <div style="font-size: 250%; color: rgb(155, 9, 9); font-weight: bold;">  Hy {{user.pro_username}}</div>
        <div style="font-size: 150%; color: rgb(15, 15, 19);"> Welcome To EasyHome Dashboard</div>
        {{user.pro_address}} | {{user.pro_pincode}}<br>
        {{user_serv.service_name}}<br>
    </div>
    <div style="display: inline-block; padding-right: 3%; font-size: 200%; font-weight: bold; margin-left: 10%; border-radius: 8px; margin-right: 10%; padding-top: 0.5%; padding-bottom: 0.5%; background-color: #fcfeff;"> 
        Pending Services</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table style=" margin-left: 10%; border-radius: 8px; background-color: #fcfeff;">
        <thead>
            <tr>
                <th>S no.</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Reqest Date</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for req in s1 %}
            {% if req.7 == 'Accepted' or req.7 =='service requested' %} 
                <!-- {% set sno1 = sno1 + 1 %} -->
                <tr>
                        <td>{{loop.index}} </td>
                        <td>{{req.0}}</td> 
                        <td> {{req.1}} / {{req.2}}</td> 
                        <td> {{req.6}}</td> 
                        <td> 
                            {% if req.7 == 'Accepted' %}
                            <div style="color: green;">{{req.7}}</div>
                            {% elif req.7 == 'Rejected' %}
                            <div style="color: red;">{{req.7}}</div>
                            {% else %}
                            <div >{{req.7}}</div>
                            {% endif %}
                        </td> 
                        
                        {% if req.7 =='service requested' %}
                            <td><form action="/dashboard" method="POST"> 
                                <button name="accept" value="{{req.8}}" type="submit">Accept</button>
                                <button name="reject" value="{{req.8}}" type="submit">Reject</button>
                            </td> 
                        {% else %}
                                <td style="color: red;">Ongoing </td>
                        {% endif %} 
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <div style="margin-top: 1%; display: inline-block; padding-right: 3%; font-size: 200%; font-weight: bold; margin-left: 10%; border-radius: 8px; margin-right: 10%; padding-top: 0.5%; padding-bottom: 0.5%; background-color: #fcfeff;"> 
        Service History</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table style=" margin-left: 10%; border-radius: 8px; background-color: #fcfeff;">
        <thead>
            <tr>
                <th>S no.</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Reqest Date </th>
                <th>Closed Date </th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
        <!-- {#% set s1_history =s1 | reject(attribute='7',value='Closed')%
         #} -->
        {% for req in s1 %}
        <!-- {% set sno1 = sno1 + 1 %} -->
        {% if req.7 == 'Rejected' or req.7 =='Closed' %} 

            <tr>
                <td> {{loop.index}}</td>
                <td>{{req.0}}</td> 
                <td> {{req.1}} / {{req.2}}</td> 
                <td> {{req.6}}</td> 
                <td> {{req.9}}</td> 
                <td> 
                    {% if req.7 == 'Closed' %}
                        <div style="color: green;">Completed</div>
                    {% elif req.7 == 'Rejected' %}
                        <div style="color: red;">{{req.7}}</div>
                    {% endif %}</td> 
                
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
{% endif %}
</body>
</html>

{% endblock %}
