{% extends "common.html" %}
{% block body %}
{% set sno1 = 2 %}
<div class='panel'>
    {%for i in s1 %} {{i.cust_name}} {% endfor %}
{% if type1 =='cust' %}

    <div >
        <div class="h1_username"> Hy {{user.cust_name}}</div>
        <div style="font-size: 150%; color: rgb(15, 15, 19);"> Welcome To EasyHome Dashboard</div>
    </div>
    <div class="admin_cont">
        <div class="admin-box">
            <table style="margin: auto; width: 350px;">

                <tr>
                    <td>Address</td>
                    <td> {{user.cust_address}}| {{user.cust_pincode}}</td>
                </tr>
                <tr >
                    <td> Joined On </td>
                    <td>{{user.cust_date}}</td>
                </tr>
                <tr >
                    <td> Status</td>
                    <td>
                        {% if user.cust_status == 'reject' or user.cust_status == 'ban' %}
                            <div style="color: red;">{{user.cust_status}}</div>
                            {% elif user.cust_status == 'archive' %}
                                <div style="color: rgb(134, 133, 133);">Archived</div>
                                {% elif user.cust_status == 'allow' %}
                                <div style="color: green;">Allowed</div>
                            {% else %}
                                <div style="color: rgb(109, 32, 253);">None</div>
                        {% endif %}
                    </td>
                </tr>
                
            </table>
        </div>
        <div class="admin-box">
            <table style="margin: auto; width: 350px;">
                {% for i in accept_count %}
                    <tr>
                        <td>
                            {{i.0}}
                        </td>
                        <td>
                            {{i.1}}
                        </td>
                    </tr>
                {% endfor %}
            </table>

        </div>
    </div>

{% if user.cust_status %} 
    <div class="button_end"  >
        <button  onclick="location.href='/services';"> 
            Request New Service 
        </button>
    </div>
    <div id="pend" class="table_lebel">  
        Pending Service
    </div>
    <table>
        <thead>
            <tr>
                <th>S no.</th>
                <th>professional</th>
                <th>Service</th>
                <th>Reqested on </th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </thead>


        <tbody>
            {% for req in service_pending %}
                {% if req.5 != 'Closed' and req.5 != 'Rejected' %}
                    <tr>
                        <td> {{loop.index}}</td> 
                        <td> {{req.1}}/{{req.2}}</td> 
                        <td> {{req.3}}</td> 
                        <td> {{req.4}}</td> 
                        <td> 
                            <!-- {{req.5}} -->
                            {% if req.5 == 'Accepted' %}
                                <div style="color: green;">{{req.5}}</div>
                            {% elif req.5 == 'Rejected' %}
                                <div style="color: red;">{{req.5}}</div>
                            {% elif req.5 == 'service requested' %}
                                <div >{{req.5}}</div>
                            {% endif %}</td> 
                        <td>
                            {% if req.5 == 'Accepted' %}
                                <form action="/dashboard#pend" method="POST">
                                    <button name="close" value="{{req.6}}" type="submit">Close it</button></form>
                            {% elif req.5 == 'service requested' %}
                                Wait for request accept
                            {% else %} Closed
                            {% endif %}
                        </td>
                    </tr>
                    
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
    <!-- paginator starts here mj -->
<div class="paginator">
               
    <div style="justify-content: flex-start; align-items: center;">
       Showing Page {{service_pending.page}} out of {{service_pending.pages}}
    </div>
    <div style="justify-content: flex-start;" >
        
    <!-- <div style="display: flex; justify-content: flex-start;"> -->
    <div style="justify-content: flex-start;">
  
        {% if service_pending.has_prev %}
            <a  id="active_pgntr" href="{{ url_for('dashboard_user', page_p=service_pending.prev_num) }}#pend" >Previous</a>
        
        {% else %}
            <a>Previous</a>
        
        {% endif %}
        
    </div>
  
    <div style=" justify-content: center;">
    <form style="display:flex;" action="{{ url_for('dashboard_user')}}#pend">
        <input style="width:40px;" id="page_a" name='page_p' value="{{service_pending.page}}">
        <button type="submit"> Go </button>
    </form>
    </div>
    
    <div style="justify-content: flex-end;">
    {% if service_pending.has_next %}
  
        
        <a id="active_pgntr" href="{{ url_for('dashboard_user', page_p=service_pending.next_num) }}#pend">Next</a>
    {% else %}    
        <a >Next</a>
        
    {% endif %}
    </div>
    </div>
  </div>
  <!-- paginator ends here mj   -->
  


    <div id="hist" class="table_lebel">
        Service History</div>
    <table >
        <thead>
            <tr>
                <th>S no.</th>
                <th>Proffesional</th>
                <th>Service</th>
                <th>Finish Date</th>
                <th>Status</th>
                <th>Rating | Remarks</th>
            </tr>
        </thead>
        <tbody>
        {% for req in service_history %}
        {% if req.5 == 'Rejected' or req.5 =='Closed' %} 
            <tr>
                <td>{{loop.index}} </td>
                
                <td> {{req.1}} / {{req.2}}</td> 
                <td> {{req.3}}</td> 
                <td> {{req.9}}</td>
                <td> 
                    {% if req.5 == 'Closed' %}
                        <div style="color: green;">{{req.5}}</div>
                    {% elif req.5 == 'Rejected' %}
                        <div style="color: red;">{{req.5}}</div>
                    {% endif %}</td> 
                    <td> 
                        {% if req.7 %} {{req.7}} |{% endif %}
                        {% if req.8 %}{{req.8}}{% endif %}                   
                    </td> 
                        <!-- cust3,0
                        pro1,1
                        upro1,2
                        furniture ,3
                        2024-10-09,4
                        Closed,5
                        13,6
                        
                        1.0,7
                        best service,8
                        Closed,5                     -->       
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <!-- paginator starts here mj -->
<div class="paginator">
               
    <div style="justify-content: flex-start; align-items: center;">
       Showing Page {{service_history.page}} out of {{service_history.pages}}
    </div>
    <div style="justify-content: flex-start;" >
        
    <!-- <div style="display: flex; justify-content: flex-start;"> -->
    <div style="justify-content: flex-start;">
  
        {% if service_history.has_prev %}
            <a  id="active_pgntr" href="{{ url_for('dashboard_user', page_h=service_history.prev_num) }}#hist" >Previous</a>
        
        {% else %}
            <a>Previous</a>
        
        {% endif %}
        
    </div>
  
    <div style=" justify-content: center;">
    <form style="display:flex;" action="{{ url_for('dashboard_user')}}#hist">
        <input style="width:40px;" id="page_a" name='page_h' value="{{service_history.page}}">
        <button type="submit"> Go </button>
    </form>
    </div>
    
    <div style="justify-content: flex-end;">
    {% if service_history.has_next %}
  
        <a id="active_pgntr" href="{{ url_for('dashboard_user', page_h=service_history.next_num) }}#hist">Next</a>
    {% else %}    
        <a >Next</a>
        
    {% endif %}
    </div>
    </div>
  </div>
       <!-- paginator ends here mj   -->
       {% else %}
       <div class="container"    >
         <div class='admin-box'>
             <i ></i>
         
         <!-- Verification Message -->
         <h4 >Verification Pending</h4>
         <p c>
             Your profile is currently under review. Please wait until the admin verifies your profile.
         </p>
         <p >
             You will receive a notification once the verification process is complete.
         </p>
         <!-- Refresh Button or Link to Dashboard -->
         <a href="/dashboard" >Refresh</a>
     </div>
</div>

  {% endif %}


{% elif type1 =='pro' %}
    <div style="  margin-bottom: 2%; ">

        <div class="h1_username">  Hy {{user.pro_username}}</div>
        <div style="font-size: 150%; color: rgb(15, 15, 19);"> Welcome To EasyHome Dashboard</div>
        <div class="container">
            <div class="admin-box">
                <div class="table_lebel">Your Info </div>
                <table style="margin: auto; width: 350px;">
                    <tr>
                        <td>Address</td>
                        <td> {{user.pro_address}}| {{user.pro_pincode}}</td>
                    </tr>
                    <tr style="background-color: white;">
                        <td> Service</td>
                        {% if user_serv.service_name %}    
                            <td>{{user_serv.service_name}}</td>
                        {% else %}
                            <td> sorry your service is not available now</td>
                        {% endif %}
                    </tr>
                    <tr style="background-color: white;">
                        <td> Status</td>
                        <td>
                            {% if user.pro_status == 'reject' or user.pro_status == 'ban' %}
                                <div style="color: red;">{{user.pro_status}}</div>
                                {% elif user.pro_status == 'archive' %}
                                    <div style="color: rgb(134, 133, 133);">Archived</div>
                                {% elif user.pro_status == 'allow' %}
                                    <div style="color: green;">Allowed</div>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td>Rating</td>
                        <td> {{user.pro_rating}}</td>
                    </tr>
            <!-- <tr><td>{{accept_count}}</td></tr> -->
                </table>
            </div>
            <div class="admin-box">
                <div class="table_lebel">Summary </div>
                <table style="margin: auto; width: 350px;">
                    {% for i in accept_count %}
                    <tr>
                        <td>
                           {{i.0}}
                        </td>
                        <td>
                            {{i.1}}
                        </td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
        </div> 
        <br>
        <br>
    </div>
    {% if user.pro_status %}
    <div id="pend" class="table_lebel"> 
        Pending Services</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table>
        <thead>
            <tr>
                <th>S no.</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Reqest Date</th>
                <th>Status</th>
                <th>Action</th>
                
            </tr>
        </thead>
        <tbody>
            {% for req in service_pending %}
            {% if req.7 == 'Accepted' or req.7 =='service requested' %} 
                <!-- {% set sno1 = sno1 + 1 %} -->
                <tr>
                        <td>{{loop.index}} </td>
                        <td>{{req.0}}</td> 
                        <td> {{req.1}} / {{req.2}}</td> 
                        <td> {{req.6}}</td> 
                        <td> 
                            {% if req.7 == 'Accepted' %}
                            <div style="color: green;">{{req.7}}</div>
                            {% elif req.7 == 'Rejected' %}
                            <div style="color: red;">{{req.7}}</div>
                            {% else %}
                            <div >{{req.7}}</div>
                            {% endif %}
                        </td> 
                        
                        {% if req.7 =='service requested' %}
                            <td><form action="/dashboard#pend" method="POST"> 
                                {% if accept_count ==  0 %}
                                    <button name="accept" value="{{req.8}}" type="submit">Accept</button>
                                {% else %}
                                    <button style="cursor: not-allowed ;"> Pending limit reached.</button>
                                {% endif %}
                                <button name="reject" value="{{req.8}}" type="submit">Reject</button>
                            </td> 
                        {% else %}
                                <td style="color: red;">Ongoing </td>
                        {% endif %} 
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>
<!-- paginator starts here mj -->
<div class="paginator">
               
    <div style="justify-content: flex-start; align-items: center;">
       Showing Page {{service_pending.page}} out of {{service_pending.pages}}
    </div>
    <div style="justify-content: flex-start;" >
        
    <!-- <div style="display: flex; justify-content: flex-start;"> -->
    <div style="justify-content: flex-start;">
  
        {% if service_pending.has_prev %}
            <a  id="active_pgntr" href="{{ url_for('dashboard_user', page_p=service_pending.prev_num) }}#pend">Previous</a>
        
        {% else %}
            <a>Previous</a>
        
        {% endif %}
        
    </div>
  
    <div style=" justify-content: center;">
    <form style="display:flex;" action="{{ url_for('dashboard_user')}}#pend">
        <input style="width:40px;" id="page_a" name='page_p' value="{{service_pending.page}}">
        <button type="submit"> Go </button>
    </form>
    </div>
    
    <div style="justify-content: flex-end;">
    {% if service_pending.has_next %}
  
        
        <a id="active_pgntr" href="{{ url_for('dashboard_user', page_p=service_pending.next_num) }}#pend">Next</a>
    {% else %}    
        <a >Next</a>
        
    {% endif %}
    </div>
    </div>
  </div>
  <!-- paginator ends here mj   -->
  



    <div id="hist" class="table_lebel">
        Service History</div>
    <!-- <div style=" margin-left: 10%; border-radius: 8px; margin-right: 10%;  padding-bottom: 0.5%; background-color: #fcfeff;"> -->
    <table >
        <thead>
            <tr>
                <th>S no.</th>
                <th>Customer</th>
                <th>Location</th>
                <th>Reqest Date </th>
                <th>Closed Date </th>
                <th>Rating | Remarks</th>
                <th>Status</th>

            </tr>
        </thead>
        <tbody>
        <!-- {#% set s1_history =s1 | reject(attribute='7',value='Closed')%
         #} -->
        {% for req in service_history %}
        <!-- {% set sno1 = sno1 + 1 %} -->
        {% if req.7 == 'Rejected' or req.7 =='Closed' %} 

            <tr>
                <td> {{loop.index}}</td>
                <td>{{req.0}}</td> 
                <td> {{req.1}} / {{req.2}}</td> 
                <td> {{req.6}}</td> 
                <td> {{req.9}}</td> 
                <td>
                    {% if req.10 %} {{req.10}} |{% endif %} 
                    {% if req.11 %} {{req.11}} {% endif %}
                </td>
                <td> 
                    {{req.7}}
                    {% if req.7 == 'Closed' %}
                        <div style="color: green;">Completed</div>
                    {% elif req.7 == 'Rejected' %}
                        <div style="color: red;">{{req.7}}</div>
                    {% endif %}</td> 
                
            </tr>
            {% endif %}
        {% endfor %}
        </tbody>
    </table>
        <!-- paginator starts here mj -->
        <div class="paginator">
               
            <div style="justify-content: flex-start; align-items: center;">
               Showing Page {{service_history.page}} out of {{service_history.pages}}
            </div>
            <div style="justify-content: flex-start;" >
                
            <!-- <div style="display: flex; justify-content: flex-start;"> -->
            <div style="justify-content: flex-start;">
          
                {% if service_history.has_prev %}
                    <a  id="active_pgntr" href="{{ url_for('dashboard_user', page_h=service_history.prev_num) }}#hist" >Previous</a>
                
                {% else %}
                    <a>Previous</a>
                
                {% endif %}
                
            </div>
          
            <div style=" justify-content: center;">
            <form style="display:flex;" action="{{ url_for('dashboard_user')}}#hist">
                <input style="width:40px;" id="page_a" name='page_h' value="{{service_history.page}}">
                <button type="submit"> Go </button>
            </form>
            </div>
            
            <div style="justify-content: flex-end;">
            {% if service_history.has_next %}
          
                <a id="active_pgntr" href="{{ url_for('dashboard_user', page_h=service_history.next_num) }}#hist">Next</a>
            {% else %}    
                <a >Next</a>
                
            {% endif %}
            </div>
            </div>
          </div>
          <!-- paginator ends here mj   -->
    {% else %}
          <div class="container"    >
            <div class='admin-box'>
                <i ></i>
            
            <!-- Verification Message -->
            <h4 >Verification Pending</h4>
            <p c>
                Your profile is currently under review. Please wait until the admin verifies your profile.
            </p>
            <p >
                You will receive a notification once the verification process is complete.
            </p>
            <!-- Refresh Button or Link to Dashboard -->
            <a href="/dashboard" >Refresh</a>
        </div>
   </div>

    {% endif %}
{% endif %}
</div>

{% endblock %}
