{% extends "common.html" %}
{% block body %}
    <div class="container3">
        <div class="container2"> 
            <h1>
                💰
            </h1>
            <h2> 
                QUALITY
            </h2>
            <p>
                EVERY SPACE IS SPOTLESS AND WELL MAINTAINED  
            </p>
        </div>
        <div  class="container2"><h1>
            🏠
            </h1>
            <h2> 
                REFRESH
            </h2>
            <p>
                EVERY ROOM FEELING FRESH AND REJUVANTED 
            </p>
        </div>
        <div  class="container2">
            <h1>
                👨‍🍳
            </h1>
            <h2>
                 SANITIZE 
            </h2>
            <p>
                TOP-GRADE SANITIZATION TECHNIQUES
            </p>
        </div>
        <div  class="container2">
            <h1>
                🎖
            </h1>
            <h2>
                 AWARDS
            </h2>
            <p>
                ACCOLADES THAT HIGHLIGHT OUT SERVICE 
            </p>
        </div>
    </div>
    <!-- <div class="container3"> -->

        <div class="container_bottom"> 
            
            <div style="margin-left: 10px;">
            <div class="flex_button">
                <h2> Explore Our Services</h2> 
                <button class="button_end" onclick="location.href='/services'">See All Services</button>
            </div>

                Our service is designed to simplify your life by providing reliable, high-quality solutions for your everyday needs. Whether it's managing maintenance tasks, tackling repairs, or keeping your space in perfect condition, our team is here to take the stress out of your daily routines.
                <h2>Our Story</h2>
                EasyHome was founded with a vision to change how people manage home services. We saw the need for a platform that brings together skilled professionals and homeowners, with an emphasis on quality, trust, and ease. Since then, we’ve been committed to building long-lasting relationships with both our clients and service providers to ensure that every visit leaves your home in perfect condition.
                
                <h2>Join the EasyHome Community!</h2>
                Experience the comfort of a well-cared-for home without lifting a finger. Discover why countless households trust EasyHome as their go-to home services provider. Whether it’s fixing a leaky faucet, repainting a room, or getting a thorough cleaning, EasyHome is here to make your life simpler.
                <div class="line"> </div>
                <a class="easyhome1">EasyHome </a> — Making home services simple, reliable, and just a tap away!
            </div>
        </div>
{% endblock %}