{% extends "common.html" %}
{% block body %}
    <h1 style="margin-left: 10%;"> Welcome To EasyHome Services <a style="color: rgb(99, 160, 160);">{% if username %} {{username}} {% else %} Guest {% endif %} </a></h1>
    <div class = "panel" style="margin-top: 3%;">    
        <h2>Services we offer</h2>
        <div class="container1">
            {% for service in services %}
            <div  onclick="window.location.href='/service_page/{{service.service_id}}'" class="service-box">
                <div class="service-icon">icon</div>
                <div class="service-title"><b style="color: rgb(201, 45, 34);">{{service.service_name}}</b></div>
                <div class="service-desc"><b style="color: rgb(45, 119, 115);">{{service.service_desc}}</b></div>
                <div class="service-desc">  <b style="color: rgb(188, 27, 209);">₹ {{service.service_b_price}}</b></div>
                <div class="service-desc"><a style="color: rgb(0, 0, 0);">Needs <b style="color: rgb(255, 255, 255);">{{service.time_required}} h </b>complete</a></div>
                
                </div>
                
            {% endfor %}
        </div></div>
    
    <style>
    
    
    
    </style>
{% endblock %} 