{% extends "common.html" %}
{% block body %}
<!-- <div class="flex_button" > 
    <button onclick="location.href='/register_c';"> Register as Customer </button>
    <button onclick="location.href='/register';"> Register as Proffesional </button>
</div> -->
<div class="login_top" > 
    <button onclick="location.href='/register_c';"> Register as Customer </button>
    <button onclick="location.href='/register';"> Register as Proffesional </button>
</div>
<div class="container">
    <form  class="form1" method="POST">

        <div style="font-size: 150%;"> Login</div>
        <input autocomplete="off" class="input-box" autofocus name="username" placeholder="Username " type="text" required><br>
        <input autocomplete="off" class="input-box" autofocus name="pass" placeholder="Password" type="password" required><br>
        <br>
        {% if flag %}<div style='color: red; text-align: center;'> {{flag}}</div><br>{% endif %}

        <button style="background-color: #0056b3; font-size: large;" class="input-box" type="submit">Submit</button>
    </form>
    </div>

{% endblock %}
