{% extends "common.html" %}
{% block body %}
<div  class="login_top" > 
    <button  onclick="location.href='/login';"> Login </button>
    <button  onclick="location.href='/register_c';"> Register as Customers</button>
</div>
<br>
<div class="container">
    
<form class="form1" method="POST">
    <div style="font-size: 150%;"> Registration</div>
    <input autocomplete="off" class="input-box" autofocus name="name" placeholder="Fullname" type="text" required><br>
    <input autocomplete="off" class="input-box" autofocus name="username" placeholder="Username" type="" required><br>
    <input autocomplete="off" class="input-box" autofocus name="email" placeholder="Email" type="email" required><br>
    <input autocomplete="off" class="input-box" autofocus name="pass" placeholder="Password" type="password" required><br>
    <input autocomplete="off" class="input-box" autofocus name="desc" placeholder="job description" type="text" required><br>
    <input autocomplete="off" class="input-box" autofocus name="address" placeholder="Address" type="text" required><br>
    <input autocomplete="off" class="input-box" autofocus name="pincode" placeholder="Pincode" type="number" pattern="\d{6}" required min="100000" max="999999" required><br>


    <div >
    <select class="select-box" name="service" required>
        <option value="" disabled selected>Select Service</option>
        {% for k in k1 %}
            <option value="{{ k.service_id }}">{{ k.service_name}}</option>
        {% endfor %}
    </select>
    </div >
    
    <div >
    <select class="select-box" name="exp" required>
        <option value="" disabled selected>Exprience </option>
        {% for k in exp %}
            <option value="{{ k }}">{{ k}} {% if k=='1' %} year {% elif k=='Fresher' %}{% else %} years {% endif %}</option>
        {% endfor %}
    </select>
    {% if flag %}<br><div style='font-size: large; color: red; text-align: center;'> {{flag}}</div><br>
    <button><a href="/login"> Login</a></button>
    {% endif %}

    </div >
    <br>
    <button style="cursor: pointer; background-color: #0056b3; font-size: large;" class="input-box" type="submit">Apply </button>
</form>
</div>

{% endblock %}