{% extends "common.html" %}
{% block body %}
<div class="flex_button panel">

    <h2> Explore Our Services</h2> 
    <div style="width: 300px; margin-left: 30px;" class="searchbar flex_button" >
        <form action="/services" >
            <input style="width: 250px;"  id="searchbox" name="word" value="{{request.args.get('word', '')}}"  required  placeholder="Search Service">                  
            |<button style="display: none; margin: 0;" id='search_button' type="submit">🔎</button>
            <label for="search_button"> 🔎</label>        
        </form>
    </div>
</div> 
    <div class="container1">
        {% for service in services %}
        
        <div  onclick="window.location.href='/service_page/{{service.service_id}}'" class="service-box">
            <div class="service-icon">{{service.service_id}}</div>
            <div class="service-title"><b style="color: rgb(201, 45, 34);">{{service.service_name}}</b></div>
            <div class="service-desc"><b style="color: rgb(45, 119, 115);">{{service.service_desc}}</b></div>
            <div class="service-desc">  <b style="color: rgb(188, 27, 209);">₹ {{service.service_b_price}}</b></div>
            <div class="service-desc"><a style="color: rgb(0, 0, 0);">Needs <b style="color: rgb(255, 255, 255);">{{service.time_required}} h </b>complete</a></div>
            
            </div>
            
        {% endfor %}
    </div></div>

{% endblock %}
