{% extends "common.html" %}
{% block body %}
{{services}}
{% if flag1 %}
{% if services %}
<div class="container">
    <form  method="POST">

        <div style="font-size: 150%;">Edit Service</div>
        <input autocomplete="off" class="input-box" value="{{services.service_name}}"  autofocus name="service_name" placeholder="Service Name" type="text" required><br>
        <input autocomplete="off" class="input-box"value="{{services.service_desc}}"  autofocus name="desc" placeholder="Description" type="text" required><br>
        <input autocomplete="off" class="input-box" value="{{services.time_required}}"  autofocus name="service_time" placeholder="Min. time to complete ( in hours)" type="number" required><br>
        <input autocomplete="off" class="input-box", value="{{services.service_b_price}}" autofocus name="service_price" placeholder="Base Price in(₹)" type="number" required><br>
        <br>
        {% if flag %}<div style='color: red; text-align: center;'> {{flag}}</div><br>{% endif %}

        <button style="background-color: #0056b3; font-size: large;" class="input-box" type="submit">Edit service</button>
    </form>
    </div>
    {% endif 
%}
{% elif flag2 %}
<div class="container">
        <form method="POST">
    
            <div style="font-size: 150%;">Add New Service</div>
            <input autocomplete="off" class="input-box" autofocus name="service_name" placeholder="Service Name" type="text" required><br>
            <input autocomplete="off" class="input-box" autofocus name="desc" placeholder="Description" type="text" required><br>
            <input autocomplete="off" class="input-box" autofocus name="service_time" placeholder="Min. time to complete ( in hours)" type="number" required><br>
            <input autocomplete="off" class="input-box" autofocus name="service_price" placeholder="Base Price (₹)" type="number" required><br>
            <br>
            {% if flag %}<div style='color: red; text-align: center;'> {{flag}}</div><br>{% endif %}
    
            <button style="background-color: #0056b3; font-size: large;" class="input-box" type="submit">Add new service</button>
        </form>
        </div>
{% else %} fddssf
{% endif  %}
    <style>
        body, h1, p, form {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        background: antiquewhite;
    }
    
    .container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80%;
        padding: 20px;
    }
    
    form {
        width: 100%;
        max-width: 500px; 
        background: #f9f9f9;
        padding: 20px;
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1); 
    }
    
    
    .form-group {
        margin-bottom: 15px;
    }
    
    
    .input-box, .select-box {
        width: 100%; 
        padding: 10px;
        font-size: 1em;
        border: 1px solid #ddd; 
        border-radius: 4px;
        margin-top: 0.3cap;
    }
    </style>
{% endblock %}
